@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    font-size: 1.4rem;
}
html{
    font-size: 62.5%;
    /* gap: 10px; */
}

header{
    position: sticky;
    top: 0;
    background: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}
ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li{
    font-size: 1.8rem;
}

nav ul li:hover{
    border-bottom: #eeff00 2px solid;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2{
    font-size: 6rem;
    line-height: 1.2;

}
.content p{
    font-size: 2rem;
    line-height: 1.2;
}

#hero{
    border-radius: 5rem;
}

/* card */
.card{
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 4px rgba(221,221,221,221);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 5rem auto;
}
.text{
    padding: 2rem;
    margin: 0 auto;
}
.lr{
    display: flex;
    justify-content: space-between;
}
button{
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s
}

button:hover{
    background-color: #45a049;
    transform: translateY(-2px);
    border-bottom: 2px solid #3e8e41;
}

/* post card*/
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.card1, .card2, .card3{
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 4px rgba(221,221,221,221);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: 5rem auto; /*usseful*/
}
.text1, .text2, .text3{
    padding: 1rem;
}

.lr1, .lr2, .lr3 ,.lr4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigb{
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 4px rgba(221,221,221,221);
    border-radius: 0.5rem;
    width: 960px;
    height: 500px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 5rem auto;

}
.LOR{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.text4{
    padding: 1rem;
}


a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the surrounding text */
}







